<html>
	<head>
		<style>
		    /* General Styling */
		    body {
		        background-color: black;
		        color: #ff4d4d; /* Bright red text color */
		        font-family: Arial, sans-serif;
		    }

		    button {
		        color: #ff4d4d;
				background-color: black;
				border: 2px solid red;
				border-radius: 5px;
				padding: 10px;
				margin: 100px;
				text-align: center;
				font-size: 20px;
		    }

		</style>
	</head>
	<body>
		<a href="http://localhost:1111/productform" target="_blank"><button>Add-product</button></a>
		<a href="http://localhost:1111/getallproducts" target="_blank"><button>ALL-PRODUCTS</button></a>
		<a href="http://localhost:1111/h2-console" target="_blank"><button>H2-CONSOLE</button></a>

	</body>
</html>